.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 1rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-content h3 {
  margin: 0 0 0.5rem;
}

.card-content a {
  display: inline-block;
  margin-top: 0.5rem;
  color: #ff7829;
  text-decoration: none;
  font-weight: bold;
}

.bi-star-fill{
  color: gold;
}

.title{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.title h2{
  width: 85%;
}

.title button{
  font-size: 17px;
  width: 25%;
  background-color: crimson;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 100px 8px rgba(0, 0, 0, 0.329);
}

.card-content .bi-heart,
.card-content .bi-heart-fill {
  color: crimson;
  margin-left: 0.5rem;
  transition: transform 0.2s ease;
}

.card-content .bi-heart:hover,
.card-content .bi-heart-fill:hover {
  transform: scale(1.2);
}

