body{
    margin: 0px;
    padding: 0px;
}

#app{
    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    color: black;
}

header {
    background-color: #a02b2b;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main{
    padding: 20px;    
}

footer{
    background-color: #a02b2b;
    color: white;
    padding: 6px 0;
    text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: .5rem;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}